.LandingPage {
  background-image: url('../img/todolist.png');;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.Header {
  margin: 0 10%;
  padding: 5% 1% 0 1%;

  text-align: center;
  font-family: "Secular One", sans-serif;
  font-size: 2.5rem;
  background-color: transparent;
  color: white;
}

.p {
  margin: 0 10%;
  padding: 5% 0;
  font-family: "Secular One", sans-serif;
  font-size: 1.5rem;
  color: white;
}

.p a {
  color: white;
}

